
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>New publisher</title>
		<meta name="description" content="Form to add a new publisher">
		<meta name="author" content="Aaron Machin">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        

		<div class="mainGamePageOuter">
            <form action="/newPublisher" method="POST">
                <h1>New publisher</h1>
                <div class="card">
                    <p>Name <br><input type="text" name="name" placeholder="Name"></p>
                    <br>
                    <button type="submit">SUBMIT</button>
                    <p></p>
                </div>
            </form>
        </div>
    </body>
</html>
